footer {
  background-color:  #fdfaf3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 8rem;
}

@media screen and (max-width: 576px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

.socials-tray {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.facebook {
  padding: 1rem;
  max-width: ;
}

.insta {
  padding: 1rem;
}

.twitter {
  padding: 1rem;
}

.linkedin {
  padding: 1rem;
}
