footer {
  background-color:  #fdfaf3;
}

.footer-wordmark {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 34px;
}

.socials-tray {

}

.facebook {
}

.insta {
}

.twitter {
}

.linkedin {
}
