@import "sections/1-header/styles.css";
@import "sections/2-hero/styles.css";
@import "sections/3-levelup/styles.css";
@import "sections/4-cards/styles.css";
@import "sections/5-customize/styles.css";
@import "sections/6-pricing/styles.css";
@import "sections/7-subscribe/styles.css";
@import "sections/8-footer/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Merriweather:wght@700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fefdf9;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #34332f;
  font-size: 3.5rem;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #34332f;
  font-size: 2.5rem;
}

.h2-light {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #fdfaf3;
  font-size: 2.5rem;
}

h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #34332f;
  font-size: 1.8rem;
}

h4 {
  font-family: "Merriweather", serif;
  font-weight: 800;
  color: #34332f;
  font-size: 1.2rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #34332f;
  font-size: 1.25rem;
}

.p-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fdfaf3;
  font-size: 1.25rem;
}

.body2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #34332f;
  font-size: 1rem;
}

.primary-button {
  font-family: "Merriweather", serif;
  font-size: 20;
  font-weight: 700;
  color: #fdfaf3;
  background-color: #34332f;
  border-color: #34332f;
  border: solid;
  border-radius: 8px;
  padding: 16px 42px;
  justify-content: center;
}

.secondary-button {
  font-family: "Merriweather", serif;
  font-size: 20;
  font-weight: 800;
  color: #34332f;
  background-color: #fce7ae;
  border-color: #34332f;
  border: solid;
  border-radius: 8px;
  padding: 16px 42px;
  justify-content: center;
}

.logo-homelink {
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  color: #34332f;
  font-size: 28px;
  text-decoration: none;
}