.customize{
display: flex;
flex-direction: row;
padding: 6rem;
align-items:center;
background-color: #fdfaf3;;
}

.customize-text{
max-width: 60%;
padding-right: 1rem;
}

.customize-right{
max-width: 40%;
}

.customize-illustration{
max-width: 100%;
}

@media screen and (max-width: 900px) {
    .customize {
      flex-direction: column;
      align-items: center;
      justify-items: center;
      text-align: center;
    }
    }

