
.pricetag {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #34332f;
  font-size: 4rem;
}

.pricing {
  display: flex;
  flex-direction:column;
  padding: 6rem;
}

.pricecard-container {
  display: flex;
  flex-direction:row;
}

.pricecard-beige {
  background-color: #fbf5e7;
  color: #34332f;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1rem;
  align-items: center;
}

.pricecard-green {
  background-color: #c5f1d6;
  color: #34332f;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 1rem;
  align-items: center;
}
