.levelup {
  display: flex;
  flex-direction: row;
  padding: 6rem;
  align-items: center;
  background-color: #fdfaf3;
}

@media screen and (max-width: 900px) {
  .levelup {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
}

.levelup-text {
  width: 60%;
  padding-left: 3rem;
}

@media screen and (max-width: 900px) {
  .levelup-text{
    width: 100%;
    padding: 0rem;
  }
  }

.levelup-left {
  width: 40%;
}

@media screen and (max-width: 900px) {
.levelup-left{
  width: 100%;
}
}

.levelup-img {
  width: 100%;
}


