.hero {
    background-color: #fdfaf3;
    display: flex;
    flex-direction: row;
}

.hero-text {

}

.h1{
    font-family: 'Merriweather', serif;
    font-size: 58px;
    font-weight: 700;
    color: #34332f;   
}

.p{
    font-family: "Open Sans", sans-serif;
    font-size: 20;
    font-weight: 400;
    color: #34332f; 
}

.primary-button {
    font-family: 'Merriweather', serif;
    font-size: 20;
    font-weight: 700;
    color: #fdfaf3; 
    background-color: #34332f;
    border-color: #34332f;
    border: solid;
    border-radius: 12px;
}